<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/css/global.css" />
    <link rel="stylesheet" href="/view/css/media.css" />
   
  </head>
  <body>
    <header class="header">
        <a href="index.html" class="header-left">CRUD</a>
      <div class="header-right">
        <div id="frame">
          <a href="#" class="bars" class="menu-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </a>
        </div>
      </div>
      <menu class="menu">
        <a href="#">Pesquisar</a>
        <a href="#">Adicionar</a>
        <a href="#">Fale Conosco</a>
        <a href="#">Sobre</a>
      </menu>
    </header>
    
    <button class="add-button">+</button>
    <menu class="add-menu">
      <a href="#" class="btnOpt">Pesquisar</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Adicionar</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Fale Conosco</a>
      <div class="line"></div>
      <a href="#" class="btnOpt">Sobre</a>
    </menu>
    
    

    <form id="formulario-filme">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">        
        <label for="lancamento">Lançamento:</label>
        <input type="text" id="lancamento" name="lancamento">
        <label for="elenco">Elenco:</label>
        <input type="text" id="elenco" name="elenco">
        <label for="genero">Gênero:</label>
        <input type="text" id="genero" name="genero">
        <button type="submit">Adicionar Filme</button>
    </form>
        
    <footer>
      <h3>cópia não comedia</h2>
    </footer>
    <script type="text/javascript" src="/view/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>